.footer_container {
  background-color: black;
  /* margin: 0vw 2vw; */
}
.column {
  font-style: italic;
  padding: 1vw 3vw;
}
.column h4 {
  color: white;
}
.a_wrap {
  display: flex;
  flex-direction: column;
}
.a_wrap a {
  color: #767575;
  text-decoration: none;
}
