.title {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}
.title p:first-child {
  margin-bottom: 0;
  font-size: 12px;
  font-style: italic;
  color: rgb(122, 114, 72);
}
.title p:nth-child(2) {
  font-style: italic;
  font-weight: 600;
  color: rgb(65, 60, 36);
}

div.row-custom {
  --bs-gutter-y: 1rem;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: center;
  min-height: 50px;
}

.card-price {
  color: #737373;
  text-align: center;
}

.item:hover {
  opacity: 0.5;
  cursor: pointer;
}
